body { background: #de8a06; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 54px; display: flex; }
.block-config-0 { color: #32729e; font-size: 21px; margin-bottom: 5px; }
.block-payment-1 { color: #8c4950; font-size: 15px; margin-bottom: 5px; }
.block-user-2 { color: #7efea; font-size: 18px; margin-bottom: 5px; }
.block-router-3 { color: #3a39f3; font-size: 19px; margin-bottom: 5px; }
.block-session-4 { color: #513637; font-size: 13px; margin-bottom: 5px; }